/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 24 Mar 2025, 20:29:20
    Author     : Jhons
*/

body {
    background-image: url("../images/darkforest.jpg");
    background-color: #cccccc;
}
h4 {
    color : white;
    text-align : center;
}
h2 {
    color : white;
    text-align : center;
}
p {
    color : white;
    text-align : center;
}
h1 {
    color : white;
    text-align : center;
}
